<header>
    <div class="container">
        <div class="alert alert-dark">Flight Search Engine </div>
    </div>
    <aad-flight-tab-one (shareDataToParent)="childData=$event"></aad-flight-tab-one>
</header>
<div class="container content">
    <div class="alert alert-danger">
        <p> {{fetchRecStatus}}</p>{{childData}}veraj
    </div>
    <!-- container centers content on large screens -->

    <div class="row">
        <!-- responsive row has 12 columns by default -->
        <div class="col-md-4">
      
                <!-- uses 6 columns on medium and larger screens... -->
                <ngb-tabset>
                    <ngb-tab title="One Way">
                        <ng-template ngbTabContent>
                          <aad-flight-tab-one></aad-flight-tab-one>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Return">
                        <ng-template ngbTabContent >     
                         <aad-flight-tab>      </aad-flight-tab>            
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
        </div>
        <div class="col-md-8">
            <!-- uses 12 columns on smaller than medium screens -->
            <div class="row" *ngFor="let flightRes of flightdata">
                <div class="col-md-12 card">
                    <div class="row">{{flightRes.price}}</div>
                    <div class="row">
                        <div class="col-md-4">
                            <p>
                                <span> {{flightRes.flightName}}</span>
                                <br>
                                <span> {{flightRes.origincity}} > {{flightRes.desinationcity}}</span>
                                <br>
                                <span>Depart: {{flightRes.departTime}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <span>Arrive: {{flightRes.arriveTime}}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>


</footer>